<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li class="active">Data</li>
    </ol>
    <h1>Propiedades en Venta en Captial Federal</h1>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <select class="form-control" name="" id="">
            <option value="-1">Ordenar por</option>
            <option value="0" selected>Relevancia</option>
            <option value="1">Precio descendente</option>
            <option value="2">Precio ascendente</option>
          </select>
        </div>
      </div>
      <div class="col-xs-6 pull-right">
        <small>244000 propiedades encontradas</small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    
  </div>
</div>
